{% extends "layout.html" %}
{% block content %}
  <form action="{{url_for('results')}}" method = 'post'>
    <p class = 'form-inputs'>
      <label for='br'>Bedrooms: </label>
      <select name='bedrooms' id='br'>
        {% for each in bedroom_options %}
          <option value="{{each}}">{{each}}</option>
        {% endfor %}
      </select>
    </p>

    <p class = 'form-inputs'>
      <label for='nbr'>Neighborhood: </label>
      <input type='text' name = 'neighborhood' id='nbr'/>
    </p>
    <p class = 'form-inputs'>
      <label for='city'>City: </label>
      <input type='text' name = 'city' id='city'/>
    </p>

    <p class = 'form-inputs'>
      <label for='year'>Year Built: </label>
      <input type='text' name = 'year' id='year'/>
    </p>

    <p class = 'form-inputs'>
      <label for='type'>AirBnB Type: </label>
      <select name='type' id='type'>
        {% for each in type_options %}
          <option value={{loop.index}}>{{each}}</option>
        {% endfor %}
      </select>
    </p>

    <p class = 'form-inputs'></p>
      <input type="radio" name="gender" value="male"> Male
      <br>
      <input type="radio" name="gender" value="female"> Female
    </p>

    <p>
      <input type='submit' value='Submit'/>
    </p>
  </form>
{% endblock content %}